{% extends "plitka/base.html" %} {% load staticfiles %} {% block title %}Каталог продукции{% endblock %} {% block content%}
<section class="production">
    <div class="production-item col-md-12">
        <img src="{%static 'img/trotuar.jpg'%}" width="150" alt="production-img">
        <p><strong>Тротуарная плитка</strong></p>
        <p>Тротуарная плитка — современный материал для покрытия тротуаров, улиц, подходов к зданиям. Плитка проста в установке и обслуживании. В отличие от асфальтового покрытия, не препятствует растениям в питании водой и газообмене. Она может выдержать
            большие перепады температур, не плавится от солнца и не выделяет вредные газы</p>
    </div>
    <div class="production-item col-md-12">
        <img src="{%static 'img/trotuar.jpg'%}" width="150" alt="production-img">
        <p><strong>Тротуарная плитка</strong></p>
        <p>Тротуарная плитка — современный материал для покрытия тротуаров, улиц, подходов к зданиям. Плитка проста в установке и обслуживании. В отличие от асфальтового покрытия, не препятствует растениям в питании водой и газообмене. Она может выдержать
            большие перепады температур, не плавится от солнца и не выделяет вредные газы</p>
    </div>
    <div class="production-item col-md-12">
        <img src="{%static 'img/trotuar.jpg'%}" width="150" alt="production-img">
        <p><strong>Тротуарная плитка</strong></p>
        <p>Тротуарная плитка — современный материал для покрытия тротуаров, улиц, подходов к зданиям. Плитка проста в установке и обслуживании. В отличие от асфальтового покрытия, не препятствует растениям в питании водой и газообмене. Она может выдержать
            большие перепады температур, не плавится от солнца и не выделяет вредные газы</p>
    </div>
    <div class="production-item col-md-12">
        <img src="{%static 'img/trotuar.jpg'%}" width="150" alt="production-img">
        <p><strong>Тротуарная плитка</strong></p>
        <p>Тротуарная плитка — современный материал для покрытия тротуаров, улиц, подходов к зданиям. Плитка проста в установке и обслуживании. В отличие от асфальтового покрытия, не препятствует растениям в питании водой и газообмене. Она может выдержать
            большие перепады температур, не плавится от солнца и не выделяет вредные газы</p>
    </div>
</section>
{%endblock%}